langchain
langchain-core
langchain-community
langchain-groq
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
typesense
langchain_huggingface
datasets
pytest 
pytest-asyncio
ragas
requests
bert-score
deepeval
ollama
langchain-openai
neo4j
langchain-neo4j
langchain_experimental
py2neo
langchain_openai
bert_score
